.PrimaryNav {
  width: 100%;
}

.PrimaryNav ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  /* align-items: baseline; */
}

@media (max-width: 700px) {
  .PrimaryNav ul {
    flex-flow: column;
  }
}
