/* -1px 5px 23px -8px rgba(43,42,43,1) */

.Card {
  background: white;
  box-shadow: -1px 5px 23px -8px rgba(43, 42, 43, 1);
}

/* @media (max-width: 700px) {
  .Card {
    margin-right: 0;
  }
} */
